/* reset CSS */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol,
ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details,
embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

.navbar {
    min-height: 57px;
    font-size: 18px;
    border-bottom: 1px dotted black;
}

.navbar-brand{
    font-size: 20px;
    text-transform: uppercase;
}

.tabela:hover, .logo:hover, .galeria:hover{
    cursor: pointer;
}

.popularne{
    font-size: 20px;
}

.kot1{
    font-size: 20px;
}

.kot2{
    font-size: 20px;
}

.kot3{
    font-size: 20px;
}

.kot4{
    font-size: 20px;
}

.row.tresc {
    height: 950px;
}

.sidenav {
    height: 100%;
    font-size: 24px;
    border-right: 2px dotted black;
    background-color: #5CC9FF;
}

#swieta_p{
    border-radius: 10px;
    border: 1px solid rgba(255,255,255,0.3);
}

.mieso{
    background-color: #BDEAFF;
}

@media screen and (max-width: 768px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }

    .row.tresc {
        height: auto;
    }

}

/*===============================================================*/
.autor{
    font-size: 18px;
}

.mruczek{
    border-radius: 10px;
    border: 1px solid gray;
    margin-bottom: 2px;
}